.gallery{
    width: 180%;
    display: flex;
    overflow-x: scroll;
}
.gallery div{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 6px;
    padding: 5px;
    flex: none;
}
.gallery div img{
    width: 100%;
    transition: transform 0.5s;
}
.gallery::-webkit-scrollbar{
    display: none;
}
.gallery-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5% auto;
}
#backBtn, #nextBtn{
    width: 3rem;
    cursor: pointer;
    margin: 10px;
}
.gallery div img:hover{
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.1);
}