html {
    box-sizing:  border-box;
    
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    font-family: inherit;
    box-sizing: inherit;
}
.intro {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
    background-color: white;
    transition: 1s;
}

.intro img {
    top: 150px;
    position: absolute;
    height: 150px;
}

.intro p{
    color: #FFBF00;
    font-size: 1.6rem;
    margin-top: 10px;
}

.logo {
    font-size: 2.5rem;
    color: #FFBF00;
}

.logo-parts {
    position: relative;
    display: inline-block;
    bottom: -20px;
    opacity: 0;
}

.logo-parts.active {
    bottom: 0;
    opacity: 1;
    transition: ease-in-out.5s;
}

.logo-parts.fade {
    bottom: 280px;
    opacity: 0;
    transition: ease-in-out.5s;
}

.content {
    width: 100%;
    padding: 50px;
    font-size: 2rem;
}

@media screen and (max-width: 600px) {
    .logo {
        font-size: 1.5rem;
    }
}