@font-face {
    font-family: 'Play' ;
    src: url('/ttf/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'montserrat';
    src: url('/ttf/Montserrat/Montserrat-Italic-VariableFont_wght.ttf');
}



.logo-container {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 60px;

}

.initials {
    text-align: center;
    font-size: 1.4em;
    justify-content: center;
    align-items: center;
    color:#FFBF00 ;
    font-family: Play;
    position: relative;
    top: 0.3em;
}

.name {
    background-color: rgba(255, 255, 255, 0.829);
    font-size: 0.4em;
    border-radius: 15px;
    top: -2rem;
    left: 0rem;
    text-align: center;
    position: relative;
    color:#FFBF00 ;
    font-family: montserrat;
    font-weight: 100;
}