
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

.fuente-clara {
	color: #eeeeee;
}

.fuente-oscura {
	color: #22211f;
}

.fuente-acento {
	color: #b59a61;
}

body {
	background-color: #eeeeee;
}

.fix-nav {
	width: 100%;
	max-width: 80%;
	margin: auto;
	height: auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.Logo {
	color: #113946;
	font-weight: 900;
	font-size: 2em;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	height: auto;
	width: auto;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 500ms;
	border-radius: 15px;
	padding: 8px;
}



.nav-menu {
	background-color: #ffffff;
	display: inline-block;
	width: 100%;
	height: auto;
	border-radius: 0px 0px 15px 15px;
}


nav ul {
	list-style: none;
	display: flex;
	float: right;
}

nav ul li {
	margin-right: 8px;
}

nav ul li a {
	color: #113946;
	font-size: 1rem;
	font-weight: 900;
	text-decoration: none;
	border: solid #2c2a27 3px;
	border-radius: 5px;
	padding: 6px;
	transition: 400ms;
}

nav ul li a:hover {
	background-color: #FFBF00;
	color: #2c2a27;
	font-size: 1rem;
	font-weight: 900;
	transition: 400ms;
    
}

.contenedor1 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
	display: dasodnj;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contenedor1 h2 {
    text-align: center;
    color: #113946;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	margin-bottom: 10px;
}

.contenedor1-text {
    background-color: #ffffff ;
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 690px;
    margin: auto;
}

.contenedor1 p{
    color: #113946;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	padding: auto;

}

.contenedor1 img {
    width: 40%;
    margin: 10px;
	border-radius: 15px;
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
 
footer {
    width: 100%;
	text-align: center;
	margin: auto;
	padding: 15px;
}


.sobremi-contenedor {
	background-color: #ffffff ;
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 690px;
    margin: auto;
	margin-bottom: 35px;
}

.sobremi-contenedor h2 {
	text-align: center;
    color: #113946;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	margin-bottom: 10px;
}

.sobremi-contenedor p{
	color: #113946;
	font-weight: 100;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.habilidades {
	background-color: #ffffff ;
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 690px;
    margin: auto;
	margin-bottom: 25px;

}

.habilidades h2 {
	text-align: center;
    color: #113946;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	margin-bottom: 10px;

}

.habilidades-ul {
	text-align: center;
    color: #113946;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
	margin-bottom: 10px;
}

.habilidades-li{
	transition: 500ms;
}

.habilidades-li:hover {
	background-color: #ffffff;
	padding: 6px;
	border-radius: 15px;
	transition: 500ms;
}



.habilidades-btn {
	color: #113946;
} 

.habilidades-btn:hover {
	background-color: #ffffff;
	margin: 8px;
	padding: 8px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	transition: 800px;

}

.proyectos {
	background-color: #ffffff ;
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 800px;
    margin: auto;
	margin-bottom: 25px;
	align-items: center;
	justify-content: center;
}

.proyectos h2 {
	text-align: center;
    color: #0C356A;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	font-size: 1.8em;
	margin-bottom: 10px;
}

.fix-proyectos {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 3 columnas con igual anchura */
	grid-gap: 10px; /* Espacio entre las imágenes */
}

.proyecto-item {
	display: inline-block;
	margin: auto;
	padding: 15px;
	width: auto;
}

.proyecto-item h3 {
	color: #0C356A;
	padding: 5px;
	font-size: 1.3rem;

}

.proyecto-item img {
	height: 10rem;
	border-radius: 15px;
	transition: all 800ms;
}

.proyecto-item img:hover {
	border: solid 8px #FFBF00 ;
	transition: all 800ms;
}

.proyectolink {
	color: #279EFF;
	font-size: 1em;
	display: flex;
	text-align: center;
	justify-content: center;
}

/* galeria */

.fix-galeria {
	background-color: #ffffff;
	border-radius: 15px;
	width: 90%;
	margin: auto;
	margin-top: 25px;
}

.fix-galeria h2{
	color: #0C356A;
	padding-top: 15px;
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding: 15px;
}

.imagen {
    margin: 10px;
	
	
}

.imagen img {
    width: 25vw;
	max-width: 500px;
	height: 100%;
	border-radius: 15px;
	object-fit: cover;
	object-position: center;
	border: solid 5px #088df9;
	transition: 800ms;
}

.imagen img:hover{
	border: solid 8px #b59a61;
}

footer {
	background-color: #ffffff;
	border-radius: 15px 15px 0 0;
	margin-top: 15px;
	color: #113946;
}


@media screen and (max-width: 600px) {

	
	.fix-nav {
	width: 100%;
	max-width: 80%;
	margin: auto;
	height: auto;
	align-items: center;
	display: block;
	justify-content: center;
	}

	.nav-menu {
		background-color: #ffffff;
		display: inline-block;
		width: 100%;
		height: 7rem;
		border-radius: 0px 0px 15px 15px;
	}

	
	
	nav ul {
		list-style: none;
		display: flex;
		float: unset;
		align-items: center;
		justify-content: center;
		margin-top: 0.5rem;
	}
	
	nav ul li {
		margin-right: 8px;
	}
	
	nav ul li a {
		color: #113946;
		font-size: 0.6rem;
		font-weight: 900;
		text-decoration: none;
		border: solid #2c2a27 3px;
		border-radius: 5px;
		padding: 6px;
		transition: 400ms;
	}
	
	nav ul li a:hover {
		background-color: #FFBF00;
		color: #2c2a27;
		font-size: 1rem;
		font-weight: 900;
		transition: 400ms;
		
	}

	.contenedor1 img {
		width: 80%;
		margin: 10px;
		border-radius: 15px;
	}

	.proyectos {
		background-color: #ffffff ;
		padding: 25px;
		border-radius: 15px;
		width: 85%;
		max-width: 800px;
		margin: auto;
		margin-bottom: 25px;
		align-items: center;
		justify-content: center;
	}
	
	.proyectos h2 {
		text-align: center;
		color: #0C356A;
		font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-weight: 900;
		font-size: 1.8em;
		margin-bottom: 10px;
	}
	
	.fix-proyectos {
		display: grid;
		grid-template-columns: repeat(1, 1fr); /* 3 columnas con igual anchura */
		grid-gap: 10px; /* Espacio entre las imágenes */
	}
	
	.proyecto-item {
		display: inline-block;
		margin: auto;
		padding: 15px;
		width: auto;
	}
	
	.proyecto-item h3 {
		color: #0C356A;
		padding: 5px;
		font-size: 1.3rem;
	
	}
	
	.proyecto-item img {
		height: 9rem;
		border-radius: 15px;
		transition: all 800ms;
	}
	
	.proyecto-item img:hover {
		border: solid 8px #FFBF00 ;
		transition: all 800ms;
	}
	
	.proyectolink {
		color: #279EFF;
		font-size: 1em;
		display: flex;
		text-align: center;
		justify-content: center;
	}
}