@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");


* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style-type: none;
}

html {
	scroll-behavior: smooth;
}

.fuente-clara {
	color: #eeeeee;
}

.fuente-oscura {
	color: #22211f;
}

.fuente-acento {
	color: #b59a61;
}

body {
	background-color: #eeeeee;
	background-image: url("https://www.transparenttextures.com/patterns/ag-square.png");
}

.fix-nav {
	width: 100%;
	max-width: 80%;
	margin: auto;
	height: auto;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

.Logo {
	color: #113946;
	font-weight: 900;
	font-size: 2em;
	font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	height: auto;
	width: auto;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: 500ms;
	border-radius: 15px;
	padding: 8px;
}



.nav-menu {
	background-color: #ffffff;

	display: inline-block;
	width: 100%;
	height: auto;
	border-radius: 0px 0px 15px 15px;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
}


nav ul {
	list-style: none;
	display: flex;
	float: right;
	flex-wrap: wrap;
}

nav ul li {
	margin-right: 8px;
}

nav ul li a {
	color: #113946;
	font-size: 1rem;
	font-weight: 900;
	text-decoration: none;
	border: solid #2c2a27 3px;
	border-radius: 5px;
	padding: 6px;
	transition: 400ms;
}

nav ul li a:hover {
	background-color: #ffd968;
	color: #2c2a27;
	font-size: 1rem;
	font-weight: 900;
	transition: 400ms;
    
}

.contenedor1 {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 25px;
    font-family: Arial, Helvetica, sans-serif;
	display: dasodnj;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.contenedor1 h2 {
    text-align: center;
    color: #0C356A;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	font-size: 1.8rem;
	margin-bottom: 10px;
}



.contenedor1-text {
    background-color: #ffffff ;
	border: #000000 solid 2px;
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 690px;
    margin: auto;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
}

.contenedor1 p{
    color: #113946;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
	width: 100%;
	padding: auto;

}

.backperfile img {
	width: 80%;
    margin: 10px;
	border-radius: 100%;
	background-color: #A79990;
}

.backperfile {
	background-color: #020607;
	border: #FFBF00 solid 8px;
	width: 60%;
	border-radius: 100%;
	margin: auto;
	margin-top: 10px;
}

.text {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	
}
 



.sobremi-contenedor {
	background-color: #ffffff ;
	border: #000000 solid 2px;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 690px;
    margin: auto;
	margin-bottom: 35px;
}

.sobremi-contenedor h2 {
	text-align: center;
    color: #113946;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	margin-bottom: 10px;
}

.sobremi-contenedor p{
	color: #113946;
	font-weight: 400;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.habilidades {
	background-color: #ffffff ;
	border: #000000 solid 2px;
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 690px;
    margin: auto;
	margin-bottom: 25px;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);

}

.habilidades h2 {
	text-align: center;
    color: #0C356A;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	margin-bottom: 10px;
	font-size: 1.8rem;

}

.habilidades-ul {
	text-align: center;
    color: #113946;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
	margin-bottom: 10px;
}

.habilidades-li{
	transition: 500ms;
}

.habilidades-li:hover {
	background-color: #ffbf0056;
	padding: 6px;
	border-radius: 15px;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}

.habilidades-li a:hover {
	border: #22211f solid 2px;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 800ms;
}



.habilidades-btn {
	color: #113946;
} 

.habilidades-btn:hover {
	background-color: #ffffff;
	margin: 8px;
	padding: 8px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	transition: 800px;

}

.experiencias {
	background-color: #ffffff ;
	border: #000000 solid 2px;
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 690px;
    margin: auto;
	margin-bottom: 25px;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
}

.experiencias h2 {
	text-align: center;
    color: #0C356A;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	margin-bottom: 10px;
	font-size: 1.8rem;
}

.experiencias li {
	padding: 5px;
}

.proyectos {
	background-color: #ffffff ;
	border: #000000 solid 2px;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 800px;
    margin: auto;
	margin-bottom: 25px;
	align-items: center;
	justify-content: center;
}

.proyectos h2 {
	text-align: center;
    color: #0C356A;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	font-size: 1.8em;
	margin-bottom: 10px;
}


.proyecto-web {
	background-color: #ffffff ;
	border: #000000 solid 2px;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 800px;
    margin: auto;
	margin-top: 50px;
	margin-bottom: 25px;
	align-items: center;
	justify-content: center;
}

.proyecto-web h2{
	text-align: center;
    color: #0C356A;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	font-size: 1.8em;
	margin-bottom: 10px;
}



.proyectos h2 {
	text-align: center;
    color: #0C356A;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
	font-size: 1.8em;
	margin-bottom: 10px;
}

.fix-proyectos {
	display: grid;
	grid-template-columns: repeat(2, 1fr); /* 3 columnas con igual anchura */
	grid-gap: 10px; /* Espacio entre las imágenes */
	text-align: center;
}

.proyecto-item {
	display: inline-block;
	margin: auto;
	padding: 1px;
	width: auto;
}

.proyecto-item h3 {
	color: #0C356A;
	padding: 5px;
	font-size: 1.2rem;

}

.proyecto-item img {
	height: 8rem;
	border-radius: 15px;
	transition: all 800ms;
}

.proyecto-item img:hover {
	border: solid 8px #FFBF00 ;
	transition: all 800ms;
}

.proyectolink {
	color: #279EFF;
	font-size: 1em;
	display: flex;
	text-align: center;
	justify-content: center;
}

.mas {
	color: #2c2a27;
	background-color: #fff;
	padding: 10px;
	border-radius: 15px;
	border: #000 solid 3px;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.mas:hover {
	transform: scale(1.1);
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
	background-color: #FFBF00;
}

.divmas {
	width: 100%;
	display: flex;
	justify-content: center;

}

/* galeria */

.fix-galeria {
	background-color: #ffffff;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	border-radius: 15px;
	width: 90%;
	margin: auto;
	margin-top: 25px;

}

.fix-galeria h2{
	color: #0C356A;
	padding-top: 15px;
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
	padding: 15px;
	width: 80%;
	margin: auto;
}

.imagen {
    margin: 10px;
	
	
}

.imagen img {
    width: 22vw;
	max-width: 500px;
	height: 100%;
	border-radius: 15px;
	object-fit: cover;
	object-position: center;
	border: solid 5px #FFBF00;
	transition: 200ms;
}

.imagen img:hover{
	border: solid 8px #ffd900;
}


/* java galery funcion*/
.ful-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0,0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 99;
	
}

.ful-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 25px;
    color: #000000;
    cursor: pointer;
	background-color: #ffbf006c;
	border: #eeeeee solid 3px;
	padding: 8px;
	border-radius: 15px;
	transition: 500ms;
}
.ful-img span:hover{
	transition: 500ms;
	transform: scale(1.1);
}

.ful-img img{
    width: 80%;
    max-width: 28rem;
	border-radius: 15px;
}

/* Servicios*/

.services-section {
	background-color: #ffffff ;
	border: #000000 solid 2px;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 800px;
    margin: auto;
	margin-bottom: 25px;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
}

.service {
    margin-bottom: 30px;
}

.service h2 {
    font-size: 2rem;
	display: inline;
    color: #333;
	margin: auto;
}

.service p {
    font-size: 1.2rem;
    color: #666;
	padding: 3px;
	width: 50%;
	min-width: 200px;
}

.service-div {
	display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
	margin: auto;
	padding: 20px;

}

.service-div img {
	border-radius: 15px;
	flex-wrap:wrap;
	height: 12rem;
}

/* Add the following code for the "Contactarme" section */

#contactarme {
    background-color: #ffffff;
    border: #000000 solid 2px;
    box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 15px;
    width: 85%;
    max-width: 690px;
    margin: auto;
    margin-bottom: 25px;
    text-align: center;
}

#contactarme h2 {
    color: #0C356A;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
    margin-bottom: 10px;
}

.contact-form {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    color: #113946;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #2c2a27;
    border-radius: 5px;
}

.contact-form button {
    background-color: #FFBF00;
    color: #2c2a27;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #ffd900;
}

footer {
	background-color: #ffffff;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.2);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.2);
	border-radius: 15px 15px 0 0;
	margin-top: 15px;
	color: #113946;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	text-align: center;
	margin: auto;
	padding: 15px;
}



footer p {
	padding: 5px;
}

.icon {
	height: 2rem;
}

footer div a i {
	font-size: 1.5rem;
}

footer a {
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
	color: #000;
}

footer div {
	display: flex;
	margin-left: 10px;
	justify-content: space-evenly;
}

footer a:hover{
	border: solid 2px #000;
	border-radius: 15px;
	transform: scale(1.1);
	transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
}


@media screen and (max-width: 600px) {

	
	.fix-nav {
	width: 100%;
	max-width: 80%;
	margin: auto;
	height: auto;
	align-items: center;
	display: block;
	justify-content: center;
	}

	.nav-menu {
		background-color: #ffffff;
		display: inline-block;
		width: 100%;
		height: 7rem;
		border-radius: 0px 0px 15px 15px;
	}

	
	
	nav ul {
		list-style: none;
		display: flex;
		float: unset;
		align-items: center;
		justify-content: center;
		margin-top: 0.5rem;
	}
	
	nav ul li {
		margin-right: 8px;
	}
	
	nav ul li a {
		color: #113946;
		font-size: 0.8rem;
		font-weight: 900;
		text-decoration: none;
		border: solid #2c2a27 3px;
		border-radius: 5px;
		padding: 6px;
		transition: 400ms;
	}
	
	nav ul li a:hover {
		background-color: none;
		color: none;
		font-size: 1rem;
		font-weight: 900;
		transition: 400ms;
		
	}

	.contenedor1 img {
		width: 80%;
		margin: 10px;
		border-radius: 15px;
	}

	.proyectos {
		background-color: #ffffff ;
		padding: 25px;
		border-radius: 15px;
		width: 85%;
		max-width: 800px;
		margin: auto;
		margin-bottom: 25px;
		align-items: center;
		justify-content: center;
	}
	
	.proyectos h2 {
		text-align: center;
		color: #0C356A;
		font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
		font-weight: 900;
		font-size: 1.8em;
		margin-bottom: 10px;
	}
	
	.fix-proyectos {
		display: grid;
		grid-template-columns: repeat(1, 1fr); /* 3 columnas con igual anchura */
		grid-gap: 10px; /* Espacio entre las imágenes */
	}
	
	.proyecto-item {
		display: inline-block;
		margin: auto;
		padding: 15px;
		width: auto;
	}
	
	.proyecto-item h3 {
		color: #0C356A;
		padding: 5px;
		font-size: 1.3rem;
	
	}
	
	.proyecto-item img {
		height:8em;
		border-radius: 15px;
		transition: all 800ms;
	}
	
	.proyecto-item img:hover {
		border: solid 8px #FFBF00 ;
		transition: all 800ms;
	}
	
	.proyectolink {
		color: #279EFF;
		font-size: 1em;
		display: flex;
		text-align: center;
		justify-content: center;
	}

	.fix-galeria {
		background-color: #ffffff;
		border-radius: 15px;
		width: 90%;
		margin: auto;
		margin-top: 25px;
	}
	
	.fix-galeria h2{
		color: #FFBF00;
		padding-top: 15px;
		text-align: center;
		font-weight: 900;
		font-size: 30px;
		
	}
	
	
	.galeria {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 15px;
	}
	
	.imagen {
		margin: 10px;
		
		
	}
	
	.imagen img {
		width: 30vw;
		max-width: 500px;
		height: 100%;
		border-radius: 15px;
		object-fit: cover;
		object-position: center;
		border: solid 5px #ffbf00bd;
		transition: 800ms;
	}
	
	.imagen img:hover{
		border: solid 8px #ffd900;
	}

	footer h2 {
		font-size: 20px;
	}

	footer div {
		margin-top: 15px;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.backperfile img {
		width: 80%;
		margin: 10px;
		border-radius: 100%;
		background-color: #A79990;
	}
	
	.backperfile {
		background-color: #020607;
		border: #FFBF00 solid 8px;
		width: 100%;
		border-radius: 100%;
		margin: auto;
		margin-top: 10px;
	}

	.icon {
		height: 1.5rem;
	}

	/* Servicios*/

.services-section {
	background-color: #ffffff ;
	border: #000000 solid 2px;
	box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 6px 28px 0px rgba(0,0,0,0.3);
    padding: 25px;
    border-radius: 15px;
    width: 85%;
	max-width: 800px;
    margin: auto;
	margin-bottom: 25px;
	margin-top: 50px;
	align-items: center;
	justify-content: center;
}

.service {
    margin-bottom: 30px;
}

.service h2 {
    font-size: 2rem;
	display: inline;
    color: #333;
	margin: auto;
	text-align: center;
}

.service p {
    font-size: 1.2rem;
    color: #666;
	padding: 3px;
	width: 50%;
	min-width: 200px;
	padding-bottom: 2rem;
}

.service-div {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
    justify-content: center;
	margin: auto;
	padding: 20px;

}

.service-div img {
	border-radius: 15px;
	flex-wrap:wrap;
	height: 10.5rem;
}
}